<p>
  <label for="settings_consumer_key">Consumer Key</label>
  <input type="text" id="settings_consumer_key" value="<%= settings['consumer_key'] %>" name="settings[consumer_key]" />
</p>

<p>
  <label for="settings_consumer_secret">Consumer Secret</label>
  <input type="text" id="settings_consumer_secret" value="<%= settings['consumer_secret'] %>" name="settings[consumer_secret]" />
</p>

